.label {
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
  	-fx-font-size: 18px;
  	-fx-font-family: arial;
  	-fx-font-weight: bold;
	-fx-text-fill: white;
  	
}

.button{
	-fx-text-shadow: 2px, 2px, grey;
	-fx-background-color: white;
	-fx-font-color: black;
	-fx-font-weight: bold;
		
}

.menu-bar{
	-fx-background-color: white;
	-fx-min-height: 30px;
	-fx-max-height: 40px;
	-fx-pref-height: 30px;
}

#winner{
	-fx-alignment: bottom_center;
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-padding: 5.0px;
	-fx-pref-height: 30px;
}

.menu{
	-fx-min-height: 30px;
	-fx-max-height: 40px;
	-fx-pref-height: 30px;
	-fx-padding: 0px;
	-fx-border-width: 0px;
}

.menu .label{
	-fx-text-fill: black;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-padding: 0px;
}

.menu:hover{
	-fx-background-color: lightgrey;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

#Shuffle:hover{
	-fx-background-color: grey;
	-fx-border-radius: 20px;	
}

#Deal:hover{
	-fx-background-color: grey;
	-fx-border-radius: 20px;	
}

.stage{
	-fx-alignment: center;
	-fx-font-size: 20px;
	-fx-background-color: rgb(61, 226,255);
}

#controlArea {
    -fx-spacing: 10px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
    -fx-text-fill: black;
    -fx-background-color: white;
}

#cardDeck{
	-fx-text-fill: black;
	-fx-text-alignment: left;
}

#textCards{
	-fx-padding: 5.0px;
	-fx-alingment: left;
	-fx-text-fill: black;
}

.player {
	-fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
	-fx-background-image: url(/poker/images/green.jpg);
    
}

.card {
  	-fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: black;
    -fx-border-width: 2.0px;
	-fx-background-color: white;
    -fx-min-width: 50;
    -fx-pref-width: 111;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
}